.Header{
    width: 100%;
    height: 100px;
    background-color: purple;
}
#heading{
    color: white;
    position: relative;
    left: 43%;
    line-height: 50px; 
}
.menu{
    position: sticky;
    top: 0;
    background-color: red;
    height: 40px;
    width: 100%;
    margin-top: -16px;
}
.menu ul li{
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
    
}
.menu ul li:hover{
    background-color: blue;
}
.Footer{
    width: 100%;
    height: 100px;
    background-color: black;
}

#footer{
    color: white;
    position: relative;
    left: 43%;
    line-height: 90px; 
}

